body {
    width: 50%;
}

#form1 {
    border: 1px solid;
}

td {
    text-align: center;

    background-color:grey;
}

a {
    color: black;
}

a:hover {
    color:blue;
}

.nav {
    color: black;
}

#ContactListView_DataPager a {
    color: black;
}
#ContactListView_DataPager a:hover {
    color: blue;
}
#moose {
   float:right;
   margin-right:50px;
   margin-top:20px;
}
h1 {
    text-align:center;
    color:grey;
}
